{% extends 'base.html' %}

{% block content %}
<h1>Task List</h1>
<p>Logged in as: {{ user.username }}</p>
<a href="{% url 'task_create' %}" class="btn btn-primary mb-3">Create New Task</a>

<table class="table table-striped">
    <thead>
        <tr>
            <th class="col-1 align-middle">Title</th>
            <th class="col-2 align-middle">Description</th>
            <th class="col-1 align-middle">
                Due Date
                <div class="dropdown d-inline">
                    <button class="btn btn-link dropdown-toggle" type="button" id="dueDateDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Sort
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dueDateDropdown">
                        <li><a class="dropdown-item" href="?sort=due_date_asc">Sort Asc</a></li>
                        <li><a class="dropdown-item" href="?sort=due_date_desc">Sort Desc</a></li>
                    </ul>
                </div>
            </th>
            <th class="col-1 align-middle">
                Priority
                <div class="dropdown d-inline">
                    <button class="btn btn-link dropdown-toggle" type="button" id="priorityDropdown"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Filter
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="priorityDropdown">
                        <li><a class="dropdown-item" href="?sort=priority_low">Low</a></li>
                        <li><a class="dropdown-item" href="?sort=priority_medium">Medium</a></li>
                        <li><a class="dropdown-item" href="?sort=priority_high">High</a></li>
                    </ul>
                </div>
            </th>
            <th class="col-1 align-middle">Status</th>
            <th class="col-1 align-middle">Created At</th>
            <th class="col-1 align-middle">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <td>{{ task.title }}</td>
            <td>{{ task.description}}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.get_priority_display }}</td>
            <td>{{ task.get_status_display }}</td>
            <td>{{ task.created_at|date:"M. d, Y" }}</td>
            <td>
                <a href="{% url 'task_edit' task.pk %}" class="btn btn-sm btn-warning">Edit</a>
                <a href="{% url 'task_delete' task.pk %}" class="btn btn-sm btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}